.description{
  width: 85%;
  background-color: lightgrey;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.year{
  width: 8%;
  margin-top: 20px;
  font-weight: bold;
}

.summary{
  margin-top: 0;
  font-weight: bold;
}

li{
  display: flex;
}
